In [12]:
import numpy as np
import pandas as pd

In [34]:
data = pd.read_csv('play_tennis.csv')
data.head()
data.drop(columns=['day'],inplace=True)
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [16]:
#Problem 1

#outlook = Sunny,Temp=Hot,Humidity=High,Wind=Weak
#Play or No play

In [ ]:
#Solution

#P(Yes | Sunny,Hot,High,Weak)=P(Yes) * P(Sunny | Yes)* P(Hot | Yes)* P(High | Yes) * P(Weak | Yes)

#P(No | Sunny,Hot,High,Weak)=P(No) * P(Sunny | No)* P(Hot | No)* P(High | No) * P(Weak | No)

#Compare and decide using maximum posteriori rule

In [17]:
#Problem 2

#outlook = Overcast,Temp=Cold,Humidity=Low,Wind=Weak
#Play or No play

In [19]:
#Solution

#P(Yes | Overcast,Cold,Low,Weak)=P(Yes) * P(Overcast | Yes)* P(Cold | Yes)* P(Low | Yes) * P(Weak | Yes)

#P(No | Overcast,Cold,Low,Weak)=P(No) * P(Overcast | No)* P(Cold | No)* P(Low | No) * P(Weak | No)

#Compare and decide using maximum posteriori rule

In [18]:
#Training Face

#Lookup Table(Dictionary)

#Testing Face

In [20]:
#P(Yes)
#P(No)

In [21]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [22]:
probablity_of_yes = 9/14
probablity_of_no = 5/14
print(probablity_of_yes)
print(probablity_of_no)

0.6428571428571429
0.35714285714285715

In [23]:
#outlook

pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [24]:
P_overcast_no=0
P_rain_no=2/5
P_sunny_no=3/5

P_overcast_yes=4/9
P_rain_yes=3/9
P_sunny_yes=2/9

In [25]:
#temperature

pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [26]:
P_cool_no=1/5
P_hot_no=2/5
P_mild_no=2/5

P_cool_yes=3/9
P_hot_yes=2/9
P_mild_yes=4/9

In [27]:
#Humidity

pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [28]:
P_high_no=4/5
P_normal_no=1/5

P_high_yes=3/9
P_normal_yes=6/9

In [29]:
#Wind

pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [30]:
P_strong_no = 3/5
P_weak_no=2/5

P_strong_yes=3/9
P_weak_yes=6/9

In [31]:
#outlook = Sunny,Temp=Hot,Humidity=High,Wind=Weak

P_of_yes=probablity_of_yes*P_sunny_yes*P_hot_yes*P_high_yes*P_weak_yes
print(P_of_yes)

0.007054673721340388

In [32]:
P_of_no = probablity_of_no*P_sunny_no*P_hot_no*P_high_no*P_weak_no
print(P_of_no)

0.02742857142857143

In [33]:
# P_of_yes < P_of_no , so that no play